# Commento: tutto quello che c'è dopo un # è ignorato dal parser
# grammatica:
# CONF = (ASSEGNAMENTO | SEZIONE) (CONF)?
# SEZIONE = "[" VARIABILE "]" (ASSEGNAMENTO)*
# ASSEGNAMENTO = VARIABILE "=" VALORE
# VARIABILE = [A-Za-z][A-Za-z0-9]*
# VALORE = INTERO | BOOLEANO | FLOAT | STRINGA
# INTERO = [0-9]+
# BOOLEANO = [yY]([eE][sS])? | 0 | 1 | [Nn]([oO])? | [Tt]([Rr][Uu][Ee])? | [Ff]([aA][lL][sS][eE])?
# FLOAT = [0-9]* "." [0-9]*
# STRINGA = """ [^"]* """ | "'" [^']* "'"

a = b

[Sezione1]
# ciao
c = 33
d = "hello world"

[Sezione2]

e = 31.2
# booleano
f = y
